LocksmithControl/Locksmith/Service References/ServiceReferenceTechnicians/ServiceLocksmith.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceLocksmith" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5135/ServiceLocksmith.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5135/ServiceLocksmith.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5135/ServiceLocksmith.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Locksmith.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceLocksmith_GetTechnicianList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTechnicianList" />
  </wsdl:message>
  <wsdl:message name="IServiceLocksmith_GetTechnicianList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTechnicianListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLocksmith_InsertNewTechnician_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewTechnician" />
  </wsdl:message>
  <wsdl:message name="IServiceLocksmith_InsertNewTechnician_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewTechnicianResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLocksmith_GetCompanyList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyList" />
  </wsdl:message>
  <wsdl:message name="IServiceLocksmith_GetCompanyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLocksmith_InsertNewComapny_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewComapny" />
  </wsdl:message>
  <wsdl:message name="IServiceLocksmith_InsertNewComapny_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewComapnyResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLocksmith_GetJobsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsList" />
  </wsdl:message>
  <wsdl:message name="IServiceLocksmith_GetJobsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLocksmith_InsertNewJob_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewJob" />
  </wsdl:message>
  <wsdl:message name="IServiceLocksmith_InsertNewJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewJobResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceLocksmith">
    <wsdl:operation name="GetTechnicianList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLocksmith/GetTechnicianList" message="tns:IServiceLocksmith_GetTechnicianList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLocksmith/GetTechnicianListResponse" message="tns:IServiceLocksmith_GetTechnicianList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewTechnician">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLocksmith/InsertNewTechnician" message="tns:IServiceLocksmith_InsertNewTechnician_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLocksmith/InsertNewTechnicianResponse" message="tns:IServiceLocksmith_InsertNewTechnician_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLocksmith/GetCompanyList" message="tns:IServiceLocksmith_GetCompanyList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLocksmith/GetCompanyListResponse" message="tns:IServiceLocksmith_GetCompanyList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewComapny">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLocksmith/InsertNewComapny" message="tns:IServiceLocksmith_InsertNewComapny_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLocksmith/InsertNewComapnyResponse" message="tns:IServiceLocksmith_InsertNewComapny_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLocksmith/GetJobsList" message="tns:IServiceLocksmith_GetJobsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLocksmith/GetJobsListResponse" message="tns:IServiceLocksmith_GetJobsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLocksmith/InsertNewJob" message="tns:IServiceLocksmith_InsertNewJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLocksmith/InsertNewJobResponse" message="tns:IServiceLocksmith_InsertNewJob_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceLocksmith" type="tns:IServiceLocksmith">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTechnicianList">
      <soap:operation soapAction="http://tempuri.org/IServiceLocksmith/GetTechnicianList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewTechnician">
      <soap:operation soapAction="http://tempuri.org/IServiceLocksmith/InsertNewTechnician" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyList">
      <soap:operation soapAction="http://tempuri.org/IServiceLocksmith/GetCompanyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewComapny">
      <soap:operation soapAction="http://tempuri.org/IServiceLocksmith/InsertNewComapny" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobsList">
      <soap:operation soapAction="http://tempuri.org/IServiceLocksmith/GetJobsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewJob">
      <soap:operation soapAction="http://tempuri.org/IServiceLocksmith/InsertNewJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceLocksmith">
    <wsdl:port name="BasicHttpBinding_IServiceLocksmith" binding="tns:BasicHttpBinding_IServiceLocksmith">
      <soap:address location="http://localhost:5135/ServiceLocksmith.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>